<header>
    <nav>
        <div class="header-container">
            <div class="white-w-box">W</div>
            <h1>My Dark Project</h1>
            <a></a>
            <a href="#" 
               hx-get="/posts.html"
               hx-trigger="click"
               hx-target="#content"
               hx-push-url="/posts.html">
               home
            </a>
            <a>|</a>
            <a href="#" 
               hx-get="/utilities.html"
               hx-trigger="click"
               hx-target="#content"
               hx-push-url="/utilities.html">
               utilities
            </a>
        </div>
    </nav>
</header>