<header>
    <nav>
        <div class="header-container">
            <div class="white-w-box">W</div>
            <h1>My Dark Project</h1>
            <a></a>
            <a href="/htmx-blog/posts.html" 
               hx-get="/htmx-blog/index.html"
               hx-trigger="click"
               hx-target="#content"
               hx-push-url="/htmx-blog/posts.html">
               home
            </a>
            <a>|</a>
            <a href="/htmx-blog/utilities.html" 
               hx-get="/htmx-blog/utilities.html"
               hx-trigger="click"
               hx-target="#content"
               hx-push-url="/htmx-blog/utilities.html">
               utilities
            </a>
        </div>
    </nav>
</header>