<body>
    <article>
        <h2 class="article-title">
            <a hx-get="posts/building-my-htmx-blog-content.html" hx-trigger="click" hx-target="#content" hx-push-url="posts/building-my-htmx-blog.html">
                Building my HTMX Blog
            </a>
        </h2>
        <span class="article-meta">by will Mar 30, 2024</span>
    </article>
    <article>
        <h2 class="article-title">
            <a href="post1.html" hx-get="post1.html" hx-trigger="click" hx-target="#content" hx-push-url="true">
                My Second Post
            </a>
        </h2>
        <span class="article-meta">by will Apr 1, 2024</span>
    </article>
</body>