body {
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    background: #f6f5ef;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.header-container {
    display: flex; 
    align-items: center; 
    padding: 2px 0; 
}

.white-w-box {
    font-size: 16px; 
    font-weight: bold;
    color: white;
    border: 1px solid white;
    padding: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-right: 10px;
}

header {
    background-color: #ff6600;
    padding: 2px; 
}

h1 {
    font-size: 20px; 
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0; 
    display: inline-block;
}

nav a {
    color: black;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px; 
}

nav a:hover {
    text-decoration: underline;
}

#content {
    background-color: #e9e4ca;
    padding: 10px;
    margin-top: 0px;
}

article {
    padding: 2px 0;
}

article a {
    color: #000000;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

.article-title {
    font-size: 12pt;
    margin-bottom: 0;
}

.article-meta {
    font-size: 9pt;
    color: #828282;
}

.article-meta a {
    color: #828282;
}

.article-meta a:hover {
    border-bottom: 1px dotted;
}

.image-thumbnail {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto; 
    padding: 10px; 
}

.full-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.full-image {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
}

.full-image-container button {
    position: absolute;
    top: 20px;
    right: 20px;
}



footer {
    font-size: 8pt;
    color: #828282;
    padding: 5px 20px;
    background: #f6f6ef;
    text-align: center;
}
