<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Dark Project</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://unpkg.com/htmx.org"></script>
    </head>
    <body>
        <!-- Navigation Container -->
        <section id="navigation">
            <div
                hx-get="navigation.html" 
                hx-trigger="load" 
                hx-target="#navigation">
            </div>
        </section>
        <main>
        <!-- End Navigation Container -->
        <!-- Content Container -->
        <section id="content">

            <div
            hx-get="utilities-content.html" 
            hx-trigger="load" 
            hx-target="#content"
            hx-push-url="/utilities.html" 
            hx-push-url="true">
            </div>

        </section>
        <!-- End Content Container -->
        </main>
        <footer>
            <p>A Simple HTMX Blog © 2024</p>
        </footer>
    </body>
</html>
