<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Dark Project</title>
        <link rel="stylesheet" href="/style.css">
        <script src="https://unpkg.com/htmx.org"></script>
    </head>
    <body>

        <!-- Navigation Container -->
        <section id="navigation">
            <div
                hx-get="/htmx-blog/navigation.html" 
                hx-trigger="load" 
                hx-target="#navigation">
            </div>
        </section>
        <main>
        <!-- End Navigation Container -->
        <main>
            <section id="content">
                 <!-- The below should auto load the Posts context and call it index -->
                 <div
                 hx-get="/htmx-blog/utilities/escape-content.html" 
                 hx-trigger="load" 
                 hx-target="#content"
                 hx-push-url="/htmx-blog/utilities/escape.html" 
                 hx-push-url="true">
                 </div>
                
            </section>
        </main> 
    </body>
</html>
