<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Dark Project</title>
        <link rel="stylesheet" href="/style.css">
        <script src="https://unpkg.com/htmx.org"></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="header-container">
                    <div class="white-w-box">W</div>
                    <h1 style="margin-right: 5px">My Dark Project</h1>
                    <a href="#" 
                       hx-get="/posts.html"
                       hx-trigger="click"
                       hx-target="#content"
                       hx-push-url="/posts.html">
                       home
                    </a>
                </div>
            </nav>
        </header>
        <main>
            <section id="content">
                <!-- The below should auto load the Posts context and call it index -->
                <div
                href="/posts/building-my-htmx-blog.html" 
                hx-get="/posts/building-my-htmx-blog-content.html" 
                hx-trigger="load" 
                hx-target="#content"
                hx-push-url="/posts/building-my-htmx-blog.html" 
                hx-push-url="true">
                </div>
            </section>
        </main>
    </body>
</html>
